h1 {
         color:red;
         font-family: cursive;
}

h2 {
         color: seagreen;
         font-family: 'Times New Roman', Times, serif;
         font-weight: 600px;
}

li {
         color: slateblue;
         padding: 5px;
}

div {
        background-color: aqua;
}

p{
    color: burlywood;
}
