h1 {
         color: chartreuse;
         font-family: cursive;
}

h2 {
         color: seagreen;
         font-family: 'Times New Roman', Times, serif;
         font-weight: 600px;
}

li {
         color: slateblue;
         padding: 5px;
}

div {
        background-color: rgb(229, 255, 0);
}

p{
    color: rgb(29, 168, 211);
}
